{% extends 'layout.html' %} {% block body %}
<main>
  <div class="card shadow m-2 bg-light-subtle">
    <div
      class="card-header w-100 rounded-top"
      style="background-color: #e4d7ff"
    >
      <h3 class="fw-bold text-dark m-0 py-2">Registro de Categorias</h3>
    </div>
    <div class="card-body mx-2">
      <div class="row mb-2">
        <table
          class="table table-hover table-bordered border-primary table-responsive table-striped nowrap"
          id="Tabla"
          style="width: 100%"
        >
          <thead>
            <tr>
              <th class="text-center">Nombre</th>
              <th class="text-center">Descripcion</th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="row mb-2">
        <div class="d-flex gap-2 justify-content-center">
          <a
            class="btn btn-success fw-bold"
            href="http://127.0.0.1:3000/addCategory"
          >
            <i class="bi bi-plus-lg"></i> Agregar
          </a>
        </div>
      </div>
    </div>
  </div>

  <div
  class="modal fade"
  id="modalDetails"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog bg-light-subtle">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #e4d7ff">
        <h1 class="modal-title fs-1 text-dark" id="exampleModalLabel">
          Actualizar
        </h1>
        <button
          id="close"
          type="button"
          class="btn-close btn-danger"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <form method="post" id="myForm">
            <div class="row mb-2">
              <div class="col-12">
                <label for="category_name" class="text-dark">Nombre</label>
              </div>
              <div class="col-12">
                <input
                  autocomplete="off"
                  autofocus
                  class="form-control text-dark border-primary mb-sm-1"
                  name="category_name"
                  id="category_name"
                  type="text"
                />
              </div>
    
              <div class="col-12">
                <label for="description" class="text-dark">Descripcion</label>
              </div>
              <div class="col-12">
                <textarea
                  autocomplete="off"
                  autofocus
                  class="form-control text-dark border-primary"
                  name="description"
                  id="description"
                  type="text"
                  rows="2"
                ></textarea>
              </div>
            </div>
    
            <div class="d-flex justify-content-center mt-3">
                <button
                  class="btn btn-secondary btn-danger me-2 text-light fw-bold"
                  data-bs-dismiss="modal"
                  id="cancel"
                  type="button"
                >
                  <i class="bi bi-x-circle"></i> Cancelar
                </button>
                <button id="update" class="btn btn-success fw-bold btn-primary">
                  <i class="bi bi-plus-lg"></i> Actualizar
                </button>
              </div>
          </form>
      </div>
    </div>
  </div>
</div>


</main>

{% endblock body %} {%block script%}
<script
  type="module"
  src="{{url_for('static', filename='js/categories/manage.js')}}"
></script>
{%endblock script%}