{% extends 'layout.html' %}
{%block body%} 

<div class="container mt-3">
    <div class="card shadow rounded-1 ">
      <div class="card-header bg-primary">
        <div class="d-flex justify-content-between">
          <h3 class="text-capitalize text-white fw-bold">Productos</h3>
          <div>
            <input
              type="text"
              class="form-control"
              id="search"
              placeholder="Search"
            />
          </div>
        </div>
      </div>
      <div id="cardBodyContent" class="card-body"></div>
    </div>
  </div>

{%endblock body%}
{% block script %} <script src="{{ url_for('static',filename='js/index.js') }}"></script> {% endblock script %}
